<launch>
    <group ns="arm">
        <arg name="backend" default="roboticstoolbox.backends.Swift.Swift" />
        <arg name="robot" default="roboticstoolbox.models.Panda" />

        <node pkg="armer" type="armer" name="armer" output="screen">
            <param name="backend" value="$(arg backend)" />
            <param name="robot" value="$(arg robot)" />
        </node>
    </group>
</launch>